Demo-XML-RPC-Http-WebService/exploration/WebContent/wsdl/Phobos.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://lets.go.mars" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://lets.go.mars" xmlns:intf="http://lets.go.mars" xmlns:tns1="http://butter.peanut.fried" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://lets.go.mars" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://butter.peanut.fried"/>
   <element name="getBook">
    <complexType>
     <sequence>
      <element name="booktitle" type="xsd:string"/>
      <element name="bookauthor" type="xsd:string"/>
      <element name="bookprice" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBookResponse">
    <complexType>
     <sequence>
      <element name="getBookReturn" type="tns1:Book"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://butter.peanut.fried" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Book">
    <sequence>
     <element name="author" nillable="true" type="xsd:string"/>
     <element name="price" type="xsd:int"/>
     <element name="title" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getBookResponse">

      <wsdl:part element="impl:getBookResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBookRequest">

      <wsdl:part element="impl:getBook" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Phobos">

      <wsdl:operation name="getBook">

         <wsdl:input message="impl:getBookRequest" name="getBookRequest">

       </wsdl:input>

         <wsdl:output message="impl:getBookResponse" name="getBookResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PhobosSoapBinding" type="impl:Phobos">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getBook">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBookRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getBookResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PhobosService">

      <wsdl:port binding="impl:PhobosSoapBinding" name="Phobos">

         <wsdlsoap:address location="http://localhost:8080/exploration/services/Phobos"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
